.container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.accordion__item{
    width: 600px;
    border: 1px solid #ccc;
    padding: 10px;
}

.accordion__title{
    cursor: pointer;
    font-weight: bold;
}

.accordion__content{
    display: none;
}